<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /youdemy--V2/public
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.+)$ index.php?url=$1 [QSA,L]
</IfModule>